<div class="row align-items-center justify-content-center">
    <div class="col-xl-6 col-lg-7 col-sm-12 col-12 fxt-bg-color">
        <div class="fxt-content">
            <div class="fxt-header">
                <h2>Sign Up with Email</h2>
                <h3>Enter your email to create an account</h3>
                <div class="fxt-style-line">                               
                    <h3>Your Email</h3> 
                </div>
            </div>
            <div class="fxt-form">                               
                <form method="POST">
                    <div class="form-group">                                                
                        <div class="fxt-transformY-50 fxt-transition-delay-1">                                                
                            <input type="email" class="form-control" name="email" placeholder="Email Address" required="required">
                        </div>
                    </div>
                   
                    
                    <div class="form-group">
                        <div class="fxt-transformY-50 fxt-transition-delay-4">
                            <button type="submit" class="fxt-btn-fill" style="background:#999;">Continue</button>
                        </div>
                    </div>
                </form>                   
            </div> 
            <div class="fxt-footer">
                <div class="fxt-transformY-50 fxt-transition-delay-5">
                    <p><a routlink="/sr3" class="switcher-text"><< All signup options</a></p>
                </div>                             
            </div>                             
        </div>
    </div>                    
</div>