<div class="row align-items-center justify-content-center">
    <div class="col-xl-6 col-lg-7 col-sm-12 col-12 fxt-bg-color">
        <div class="fxt-content">
            <div class="fxt-header">
                
                <div class="fxt-style-line">                               
                    <h2 style="color:#000; font-weight:bold;">Get Started</h2> 
                </div>
            </div>
             
            <div class="fxt-footer">
                <div class="fxt-transformY-50 fxt-transition-delay-5">
                    <p>Already have an account? <a routerLink="/sr2" class="switcher-text">SignIn</a></p>
                </div>                             
            </div>                             
        </div>
    </div>                    
</div>